html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.avatarContainer {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    justify-content: center; 
}

.thumbnail {
    display: inline-block;
    text-align: center;
}
.avarageVote{
    margin-top: 10px;
    margin-bottom:10px;
    font-size: 40px;
    font-weight: bold;
    color: #258cfb;
    padding: 10px;
    border-radius: 10px;
    border:1px solid #258cfb;
}